.recomended-container {
    margin-left: 15rem;   
}

.recomended-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.recomended-flex {
    display: flex;
}

Button:hover, Button:focus {
    background-color: #f7f6f6;
    border-radius: 5px;
}