.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #e5e5e5;
}

.logo-container {
    margin-top: 1rem;
    font-size: 50px;
}

.sidebar-title {
    margin-top: 1rem;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 15px;
}

.sidebar-item {
    width: 100px;
}

.sidebar-label-container {
    position: relative;
    display: block;
    padding-left: 35px;
    margin-bottom: 7px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
}

.sidebar-label-container input {
    width: 20px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eee;
}

.sidebar-label-container:hover .checkmark {
    background-color: #ccc;
}

.sidebar-label-container input:checked ~ .checkmark {
    background-color: #2196f3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.sidebar-label-container input:checked ~ .checkmark:after {
    display: block;
}

.sidebar-label-container .checkmark:after {
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.all {
    background: linear-gradient(red,purple)
}

.white {
    background-color: #f7f7f7;
}