nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    margin-left: 12.5rem;
    border-bottom: 2px solid #f3f3f3;
}

input {
    padding: 10px 20px;
    margin: 0 70px;
    outline: none;
    border-radius: 5px;
    background: #fff;
    width: 15rem;
    border: 2px solid #f7f6f6;
    transition: 0.2s;
    position: relative;
}

input:hover, input:focus {
    background: #f7f6f6;
}

.nav-icons {
    width: 1.5rem;
    height: 1.2rem;
    margin-right: 2rem;
    color: #535353;
}




