* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.app {
    max-width: 1400px;
    margin: auto;
}

a {
    text-decoration: none;
}

li {
       list-style: none;
}

.btns {
    margin-right: 15px;
    padding: 10px 20px;
    color: #323232;
    background: transparent;
    border: none;
    cursor: pointer;
}